body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(#ffff00, #667eea 0%, #ffff00 100%);
    color: #ff6600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.app-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 30px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}

#answers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

.answer-btn {
    padding: 12px;
   border-radius: 12px;
    cursor: pointer;
    width: 48%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);

    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.answer-btn:hover {
    background: rgba(255, 255, 255, 0.25);
    transform: translateY(-3px);
}

.image-option {
    height: 140px;
    display: flex;
    padding: 8px;
}

.image-option img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.correct { background-color: #28a745 !important; }
.wrong { background-color: #dc3545 !important; }

#start-btn, #restart-btn {
    background: #ff6600;
    padding: 15px 40px;
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.hide { display: none; }

#money-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Щоб долари не заважали клікати по кнопках */
    z-index: -1; /* Задній план */
    overflow: hidden;
}

/* Стиль однієї купюри */
.dollar {
    position: absolute;
    top: -50px;
    font-size: 30px;
    user-select: none;
    animation: fall linear forwards;
}

/* Анімація падіння */
@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(110vh) rotate(360deg);
        opacity: 0;
    }
}
